.weatherList {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
#h1 {
    font-size: 4rem;
    color: rgb(248, 241, 241);
}
#main {
    font-size: 5rem;
    color: rgb(199, 145, 8);
}

#country {
    color: black;
    margin-bottom: 5px;
    font-weight: bolder;
}

#weather {
    margin-bottom: 3px;
    font-size: 2rem;
}
 #feels {
    color: rgb(199, 145, 8);
    font-size: 1.5rem;
 }
